:root {
  --padding: 1rem;
  --main-color: #e0ecde;
  --nav-color: #062b31;
  --header-color: #2c6975;
  --border-radius: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: #dbdae9;
}

.main {
  height: 90vh;
  background-color: #d7eef0;
}

.modal-header,
.modal-text {
  margin-bottom: 1rem;
}

.modal-button {
  background-color: #131313;
  padding: 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  color: white;
  font-weight: 800;
  font-size: 1rem;
  border: none;
}

.modal-button:hover {
  background-color: #a3a3a3;
  color: #131313;
}

.modal-input {
  min-width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #131313;
  border-radius: var(--border-radius);
  font-size: 1rem;
}
