:root {
  --padding: 1rem;
  --main-color: #e0ecde;
  --nav-color: #062b31;
  --header-color: #2c6975;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: #dbdae9;
}

.main {
  height: 90vh;
  background-color: #d7eef0;
}
