.Favourites {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90vh;
}

.FavouritesMain {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    display: flex;
    padding: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
}