.ChunkFactCard {
  position: relative;
  text-align: center;
  border-radius: var(--border-radius);
  width: 100%;
  padding: 1rem;
  background-color: var(--card-color);
  margin-bottom: 1.5rem;
}

.ChunkFactCardText {
  margin-top: 2rem;
  color: #131313;
}

.AddToFavourite {
  position: absolute;
  left: 5%;
  cursor: pointer;
}

.AddToFavourite:active {
  fill: red;
}

.Edit {
  position: absolute;
  right: 5%;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .ChunkFactCard {
    width: 30%;
  }
}
